@media(max-width:880px){
    .card {
        flex-direction: column;
        align-items: center;
        max-width: 695px;
    }

    .percentages {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 40px 40px;
        gap: 0.96rem;
    }

    .numberpeople {
        max-width: unset;
    }

    .card-right {
        max-width: 695px;
    }

    .attribution {
        margin-top: 90em;
    }
}

@media(max-width:460px){
    .dolar-icon {
        font-size: 2rem;
    }

    #amount-result, #total-result {
        font-size: 2rem;
    }     

}

@media(max-width:420px){
    .card {
        padding: 2em 0em 2em 0em;
    }

    .percentages {
        grid-template-columns: 146px 146px;
        grid-template-rows: 48px 48px 48px;
        gap: 1rem;
        place-content: center;
        margin-top: 1em;
    }

    .card-right {
        max-width: 327px;
    }

    #reset {
        margin-top: 1.4em;
    }

    .dolar-icon {
        font-size: 1.5rem;
    }

    #amount-result, #total-result {
        font-size: 1.5rem;
    } 

    #billinput, #numberpeopleinput {
        background-size: 0.7rem;
    }
}